### Imports

In [3]:
# Import dependencies.
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from datetime import datetime
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date

### Pandas

In [7]:
# Load the cleaned csv file into a pandas dataframe
stations_df = pd.read_csv("Resources/cleaned_hi_measurements.csv")
stations_df.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           5  USC00519397  2010-01-07  0.06    70

### Use SQLite

In [4]:
# Create an engine to a SQLite database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [9]:
Base = declarative_base()

In [10]:
# Use `declarative_base` from SQLAlchemy to model the measurements table as an ORM class
# Make sure to specify types for each column, e.g. Integer, Text, etc.
# http://docs.sqlalchemy.org/en/latest/core/type_basics.html
class Stations(Base):
    __tablename__ = 'stations'
    #id = Column(Integer, primary_key=True)
    #station = Column(Text)
    station = Column(String(255), primary_key = True)
    name = Column(String(255))
    #name = Column(Text)
    latitude = Column(Float)  
    longitude = Column(Float)
    elevation = Column(Float)

    # Index(['station', 'name', 'latitude', 'longitude', 'elevation'], dtype='object')
    
# class Stations(Base):
#     __tablename__ = "stations"
#     station_id = Column(String, primary_key = True)
#     station = Column(String(255))
#     name = Column(String(255))
#     latitude = Column(Float)
#     longitude = Column(Float)
#     elevation = Column(Float)
    
#     def __repr__(self):
#         return f"id={self.id}, name={self.name}"
    
    
    
# Create classes and tables

# class Measurements(Base):
#     __tablename__ = "measurements"
#     station_id = Column(Integer, primary_key = True)
#     station = Column(String(255))
#     date = Column(Date)
#     prcp = Column(Float)
#     tobs = Column(Integer)

#     def __repr__(self):
#         return f"id={self.id}, name = {self.name}"

In [13]:
class Measurements(Base):
    __tablename__ = "measurements"
    #station_id = Column(Integer, primary_key = True)
    station = Column(String(255), primary_key = True)
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)
    
# Index(['station', 'date', 'prcp', 'tobs'], dtype='object')
# class Measurements(Base):
#     __tablename__ = 'measurements'

#     id = Column(Integer, primary_key=True)
#     station = Column(Text)
#     date = Column(Date)
#     prcp = Column(Float)  
#     tobs = Column(Float)

In [14]:
# Use `create_all` to create the stations table in the database
# Create Database Connection
Base.metadata.create_all(engine)

In [15]:
Base.metadata.tables

immutabledict({'stations': Table('stations', MetaData(bind=None), Column('station', String(length=255), table=<stations>, primary_key=True, nullable=False), Column('name', String(length=255), table=<stations>), Column('latitude', Float(), table=<stations>), Column('longitude', Float(), table=<stations>), Column('elevation', Float(), table=<stations>), schema=None), 'measurements': Table('measurements', MetaData(bind=None), Column('station', String(length=255), table=<measurements>, primary_key=True, nullable=False), Column('date', Date(), table=<measurements>), Column('prcp', Float(), table=<measurements>), Column('tobs', Integer(), table=<measurements>), schema=None)})

In [ ]:
# !rm hawaii.sqlite